<div class="col-md-3">
  <%= simple_form_for  @campaign, remote: true do |f| %>
      <%= f.input :x, autofocus: true %>
      <%= f.input :y  %>
      <%= f.input :z  %>
      <%= f.button :submit %>
  <% end %>
</div>
<div class="col-md-9">
  <pre id="result"></pre>
</div>